.fruit-image {
    display: block;
    width: 350px;
    height: 300px;
    margin-top: 5px;
    border-radius: 15px;
    justify-content: space-around;




}



.veg-image {
    display: block;
    width: 350px;
    height: 300px;
    margin-top: 5px;
    gap: 5%;
    border-radius: 15px;



}

#click-button {
    margin-left: 46%;
}


h3 {
    font-size: 30px;
    margin-top: 7%;
  
}

p {
    text-align: center;
    font-size: 33px;
    color: black;
}

h1 {
    text-align: center;
    font-size: 49px;
}

li {
    font-size: 23px;
    list-style: none;
}